@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Yellowtail&display=swap');

:root {
    --background: #F9F8F8;
    --decor: #D4D4D4;
    --descriptionColor: #525C60;
    --primary: #274C5B;
    --spanColor: #7EB693;
    --backgroundBtn: #EFD372;

    --title-h2: 50px;
    --title-span: 36px;
    --description: 18px;
}

.container {
    max-width: 1440px;
    width: 100%;
    display: flex;
    margin: 0 auto;
    padding-inline: 20px;
}

h1, h2, h3 {
    font-family: 'Roboto', serif;
    font-weight: 800;
}

h2 {
    font-size: var(--title-h2);
    color: var(--primary);
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: var(--description);
    color: var(--descriptionColor);
}

span {
    font-family: 'Yellowtail', sans-serif;
    font-size: var(--title-span);
    color: var(--spanColor);
}

.button {
    font-family: 'Roboto', serif;
    color: var(--primary);
    background-color: var(--backgroundBtn);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: 220px;
    padding: 25px 40px;
    border-radius: 20px;

}