.home {
    background: url("@/assets/images/background.jpg") no-repeat center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    padding-top: 6rem;

    span{
        color: var(--spanColor);
    }

}

.homeContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.homeTitle {
    font-size: var(--title-h1);
    color: var(--primary);
}
