.advertising {
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding-block: 6rem;
}

.advertisingBox1,
.advertisingBox2 {
    flex: 1;
    height: 20rem;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 1rem;
    padding-left: 2rem;
}

.advertisingBox1 {
    background: url("@/assets/images/background-cart-1.jpg") no-repeat center center;
    color: var(--background);
}

.advertisingBox2 {
    background: url("@/assets/images/background-cart-2.jpg") no-repeat center center;
    color: var(--spanColor);

}

.advertisingTitle {
    font-size: 40px;
}