.search {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.search__input {
    padding: 0.5rem 1rem;
    border: 1px solid #D4D4D4;
    background: transparent;
    border-radius: 3rem;
    height: 2.5rem;
    flex: 1;

    &:focus {
        outline: none;
        border-color: var(--description);
    }
}

.search__icon {
    width: 3rem;
    height: 3rem;
    transition: transform 0.2s ease;

    &:hover {
        transform: scale(1.1);
        transition: transform 0.2s ease, color 0.2s ease;
    }
}