.searchForm {
    display: flex;
    align-items: center;
    gap: 1rem;

    .searchInput {
        padding: 0.5rem 1rem;
        border: 1px solid #D4D4D4;
        background: transparent;
        border-radius: 3rem;
        height: 2.5rem;
        flex: 1;

        &:focus {
            outline: none;
            border-color: var(--description);
        }
    }

    .searchIcon {
        width: 3rem;
        height: 3rem;
    }

}
